@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Finger Paint';
    src: url('../fonts/FingerPaint-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: linear-gradient(#666666, #CCCCCC) repeat fixed 0% 0% #CCCCCC;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Ubuntu Mono';
}

h1 {
    font-family: 'Finger Paint';
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: 2px 1px #FFFFFF;
}
